CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mir3p=y
# CONFIG_FEED_helloworld is not set
CONFIG_PACKAGE_luci-app-ssr-plus=m
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=m
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_plugin=m
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=m
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=m
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=m
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NaiveProxy=m
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=m
CONFIG_PACKAGE_luci-i18n-ssr-plus-zh-cn=m